.note {
    width: 600px;
    margin: 0 auto;
    background-color: var(--bg_panel);
    font-family: sans-serif;

    img.cover {
        margin: 0;
        width: 100%;
    }

    article {
        padding: 20px;

        &>h1 {
            display: inherit;
            font-size: 2.5rem;
            margin: 30px 0;
        }

        &>p,
        li {
            font-size: 18px;
        }

        &>p {
            line-height: 1.5em;
            margin: 30px 0;
            word-wrap: break-word;
            white-space: break-spaces;
        }

        &>span.image {
            text-align: center;
            width: 100%;

            img,
            video {
                max-width: 100%;
                border-radius: 20px;
                margin: 0 auto;
            }
        }

        img.twemoji {
            width: 18px;
            height: 18px;
        }

        &>ul>li,
        &>ol>li {
            line-height: 2em;
        }

        &>iframe {
            width: 100%;
            height: 400px;
        }
    }
}