@import '_variables';

.timeline-container {
    @include panel(100%, 600px);
}

.timeline {
    background-color: $bg_panel;

    > div:not(:last-child) {
        border-bottom: 1px solid $border_grey;
    }
}

.timeline-header {
    background-color: $bg_panel;
    text-align: center;
    padding: 8px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;

    button {
        float: unset;
    }
}

.tab {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 5px 0;
    background-color: $bg_panel;
    padding: 0;
}

.tab-item {
    flex: 1 1 0;
    text-align: center;
    margin-top: 0;

    a {
        border-bottom: .1rem solid transparent;
        color: inherit;
        display: block;
        padding: 8px 0;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }

        &.active {
            border-bottom-color: $accent;
            color: $accent;
        }
    }

    &.active a {
        border-bottom-color: $accent;
        color: $accent;
    }
}

.timeline-footer {
    background-color: $bg_panel;
    padding: 6px 0;
}

.timeline-protected {
    text-align: center;

    p {
        margin: 8px 0;
    }

    h2 {
        color: $accent;
        font-size: 20px;
        font-weight: 600;
    }
}

.timeline-none {
    color: $accent;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.timeline-end {
    background-color: $bg_panel;
    color: $accent;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.show-more {
    background-color: $bg_panel;
    text-align: center;
    padding: .75em 0;
    display: block !important;

    a {
        background-color: $darkest_grey;
        display: inline-block;
        height: 2em;
        padding: 0 2em;
        line-height: 2em;

        &:hover {
            background-color: $darker_grey;
        }
    }
}

.timeline-item {
    overflow-wrap: break-word;
    border-left-width: 0;
    min-width: 0;
    padding: .75em;
    display: flex;
}
