@font-face {
  font-family: "fontello";
  src: url("/fonts/fontello.eot?77185648");
  src:
    url("/fonts/fontello.eot?77185648#iefix") format("embedded-opentype"),
    url("/fonts/fontello.woff2?77185648") format("woff2"),
    url("/fonts/fontello.woff?77185648") format("woff"),
    url("/fonts/fontello.ttf?77185648") format("truetype"),
    url("/fonts/fontello.svg?77185648#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-views:before {
  content: "\e800";
}

/* '' */
.icon-heart:before {
  content: "\e801";
}

/* '' */
.icon-quote:before {
  content: "\e802";
}

/* '' */
.icon-comment:before {
  content: "\e803";
}

/* '' */
.icon-play:before {
  content: "\e805";
}

/* '' */
.icon-link:before {
  content: "\e806";
}

/* '' */
.icon-calendar:before {
  content: "\e807";
}

/* '' */
.icon-location:before {
  content: "\e808";
}

/* '' */
.icon-picture:before {
  content: "\e809";
}

/* '' */
.icon-lock:before {
  content: "\e80a";
}

/* '' */
.icon-down:before {
  content: "\e80b";
}

/* '' */
.icon-retweet:before {
  content: "\e80c";
}

/* '' */
.icon-search:before {
  content: "\e80d";
}

/* '' */
.icon-pin:before {
  content: "\e80e";
}

/* '' */
.icon-cog:before {
  content: "\e80f";
}

/* '' */
.icon-rss:before {
  content: "\e810";
}

/* '' */
.icon-ok:before {
  content: "\e811";
}

/* '' */
.icon-circle:before {
  content: "\f111";
}

/* '' */
.icon-info:before {
  content: "\f128";
}

/* '' */
.icon-bird:before {
  content: "\f309";
}

/* '' */
