@import "_variables";
@import "_mixins";

.embed-video {
  width: 100%;
  background-color: black;

  .gallery-video {
    width: 100%;
  }

  .gallery-video > .attachment {
    max-height: unset;
    width: 100%;
  }

  video {
    width: 100%;
    height: auto;
  }
}
