@import '_variables';

.poll-meter {
    overflow: hidden;
    position: relative;
    margin: 6px 0;
    height: 26px;
    background: $bg_color;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.poll-choice-bar {
    height: 100%;
    position: absolute;
    background: $dark_grey;
}

.poll-choice-value {
    position: relative;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 6px;
    min-width: 30px;
    text-align: right;
}

.poll-choice-option {
    position: relative;
}

.poll-info {
    color: $grey;
}

.leader .poll-choice-bar {
    background: $accent_dark;
}
