@import '_variables';
@import '_mixins';

@import 'card';
@import 'photo-rail';

.profile-tabs {
    @include panel(auto, 900px);

    .timeline-container {
        float: right;
        width: 68% !important;
        max-width: unset;
    }
}

.profile-banner {
    padding-bottom: 4px;

    a {
        display: inherit;
        line-height: 0;
    }

    img {
        width: 100%;
    }
}

.profile-banner-color {
    width: 100%;
    padding-bottom: 25%;
}

.profile-tab {
    padding: 0 4px 0 0;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    text-align: left;
    vertical-align: top;
    max-width: 32%;
    top: 50px;
}

.profile-result .username {
    margin: 0 !important;
}

.profile-result .tweet-header {
    margin-bottom: unset;
}

@media(max-width: 600px) {
    .profile-tabs {
        width: 100vw;

        .timeline-container {
            width: 100% !important;

            .tab-item wide {
                flex-grow: 1.4;
            }
        }
    }

    .profile-tab {
        width: 100%;
        max-width: unset;
        position: initial !important;
        padding: 0;
    }
}
