@import '_variables';
@import '_mixins';

.profile-card {
    flex-wrap: wrap;
    background: var(--bg_panel);
    padding: 12px;
    display: flex;
}

.profile-card-info {
    @include breakable;
    width: 100%;
}

.profile-card-tabs-name {
    @include breakable;
    max-width: 100%;
}

.profile-card-username {
    @include breakable;
    color: var(--fg_color);
    font-size: 14px;
    display: block;
}

.profile-card-fullname {
    @include breakable;
    color: var(--fg_color);
    font-size: 16px;
    font-weight: bold;
    text-shadow: none;
    max-width: 100%;
}

.profile-card-avatar {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-right: 4px;
    margin-bottom: 6px;

    &:after {
        content: '';
        display: block;
        margin-top: 100%;
    }

    img {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 4px solid var(--darker_grey);
        background: var(--bg_panel);
    }
}

.profile-card-extra {
    display: contents;
    flex: 100%;
    margin-top: 7px;

    .profile-bio {
        @include breakable;
        width: 100%;
        margin: 4px -6px 6px 0;
        white-space: pre-wrap;

        p {
            margin: 0;
        }
    }

    .profile-joindate, .profile-location, .profile-website {
        color: var(--fg_faded);
        margin: 1px 0;
        width: 100%;
    }
}

.profile-card-extra-links {
    margin-top: 8px;
    font-size: 14px;
    width: 100%;
}

.profile-statlist {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    justify-content: space-between;

    li {
        display: table-cell;
        text-align: center;
    }
}

.profile-stat-header {
    font-weight: bold;
    color: var(--profile_stat);
}

.profile-stat-num {
    display: block;
    color: var(--profile_stat);
}

@media(max-width: 800px) {
    .profile-card-info {
        display: flex;
    }

    .profile-card-tabs-name {
        @include breakable;
    }

    .profile-card-avatar {
        width: 80px;
        height: 80px;

        img {
            border-width: 2px;
            width: unset;
        }
    }
}
