body {
    --bg_color: #E6ECF0;
    --fg_color: #0F0F0F;
    --fg_faded: #161616;
    --fg_dark: #191919;
    --fg_nav: #000000;

    --bg_panel: #FFFFFF;
    --bg_elements: #FDFDFD;
    --bg_overlays: #FFFFFF;
    --bg_hover: #F5F8FA;

    --grey: #657786;
    --dark_grey: #D6D6D6;
    --darker_grey: #CECECE;
    --darkest_grey: #E8E8E8;
    --border_grey: #E6ECF0;

    --accent: #313131;
    --accent_light: #A0EDFF;
    --accent_dark: #1DA1F2;
    --accent_border: #1DA1F296;

    --play_button_red: #4DB8D8;
    --more_replies_dots: #0199f7;
    --error_red: #FF7266;

    --verified_blue: #1DA1F2;
    --icon_text: #FFFFFF;
}
